@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    font-size: 2.5rem;
    font-weight: 500;
    color: #0A093D;
}

header .menu li{
    list-style: none;
    display: inline;
    margin: 2rem;
    font-weight: 500;
    color: #656464;
}

header .menu li:hover{
    color: #0A093D;
    cursor: pointer;
}

#home{
    width: 100%;
    height: 80vh;
}

.content{
    height: 100%;
    display: flex;
    justify-content: space-around;
    background: rgb(255,255,255);
    background: linear-gradient(170deg, rgba(255,255,255,1) 48%, rgba(202,219,246,1) 100%);
}

.content h1{
    padding: 6rem 6rem 0rem;
    font-size: 4rem;
    text-align: justify;
    color: #0A093D;
}

.content img{
    width: 40%;
}

.title {
    width: 40%;
}

.title p{
    margin: 1rem 6rem;
    font-size: 1.4rem;
    color: #656464;
}

#plans {
    height: 90vh;
}

#title-plans{
    text-align: center;
    color: #0A093D;
    font-size: 3rem;
    text-align: center;
}

.plan-descrip{
    text-align: center;
    color: #656464;
    width: 30%;
    margin: auto;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.prices {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    margin: 3rem 0rem;
}

.prices div{
    width: 18%;
    display: flex;
    flex-direction: column;
    border: 4px solid #217BF4;
    border-radius: 10px;
    margin: 0rem 2rem;
}

.prices h3{
    font-size: 2rem;
    color: #0A093D;
    padding: 1rem;
}

.prices p{
    margin-top: 1rem;
    padding: 0rem 1rem;
    color: #656464;
}

.prices h1{
    padding: 0rem 1rem;
    font-size: 3.3rem;
    color: #0A093D;
}

#plan1 .values{
    margin-top: 4rem;
    font-size: 1.3rem;
}

#plan2 .values{
    margin-top: 2rem;
    font-size: 1.3rem;
    color: #ffffff;
}

#plan3 .values{
    margin-top: 4rem;
    font-size: 1.3rem;
}

#plan2{
    background-color: #217BF4;
}

#plan2 h3{
    color: #ffffff;
}

#plan2 h1{
    color: #ffffff;
}

#plan2 p{
    color: #ffffff;
}


