@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

button{
    border-radius: 50px;
    background-color: #217BF4;
    width: 60px;
    height: 60px;
    float: right;
    margin: 1rem;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    font-size: 2.5rem;
    font-weight: 500;
    color: #0A093D;
}

header .menu li{
    list-style: none;
    display: inline;
    margin: 2rem;
    font-weight: 500;
    color: #656464;
}

header .menu a{
    text-decoration: none;
}

header .menu a:visited{
    color: #656464;
}

header .menu a:hover{
    color: #0A093D;
    cursor: pointer;
}

#home{
    width: 100%;
    height: 80vh;
}

.content{
    height: 100%;
    display: flex;
    justify-content: space-around;
    background: rgb(255,255,255);
    background: linear-gradient(170deg, rgba(255,255,255,1) 48%, rgba(202,219,246,1) 100%);
}

.content h1{
    padding: 6rem 6rem 0rem;
    font-size: 4rem;
    text-align: justify;
    color: #0A093D;
}

.content img{
    max-width: 100%;
    height: auto;
}

.title {
    width: 35%;
}

.title h1{
    text-align: left;
}

.title p{
    margin: 1rem 6rem;
    font-size: 1.4rem;
    color: #656464;
}

#plans {
    height: 90vh;
}

#title-plans{
    text-align: center;
    color: #0A093D;
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
}

.plan-descrip{
    text-align: center;
    color: #656464;
    width: 30%;
    margin: auto;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.prices {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    margin: 3rem 0rem;
}

.prices div{
    width: 18%;
    display: flex;
    flex-direction: column;
    border: 4px solid #217BF4;
    border-radius: 10px;
    margin: 0rem 2rem;
}

.prices h3{
    font-size: 2rem;
    color: #0A093D;
    padding: 1rem;
}

.prices p{
    margin-top: 1rem;
    padding: 0rem 1rem;
    color: #656464;
}

.prices h1{
    padding: 0rem 1rem;
    font-size: 3.3rem;
    color: #0A093D;
}

#plan1 .values{
    margin-top: 4rem;
    font-size: 1.3rem;
}

#plan2 .values{
    margin-top: 2rem;
    font-size: 1.3rem;
    color: #ffffff;
}

#plan3 .values{
    margin-top: 4rem;
    font-size: 1.3rem;
}

#plan2{
    background-color: #217BF4;
}

#plan2 h3{
    color: #ffffff;
}

#plan2 h1{
    color: #ffffff;
}

#plan2 p{
    color: #ffffff;
}

#about {
    width: 100%;
    height: 90%;
    background: rgb(255,255,255);
    background: linear-gradient(59deg, rgba(255,255,255,1) 7%, rgba(202,219,246,0.9864320728291317) 100%); 
}

#title-about{
    color: #0A093D;
    font-size: 3rem;
    text-align: center;
    margin: auto;
}

#content-about{
    display: flex;
    height: 100%;
    justify-content: space-around;
}

#content-about img{
    max-width: 50%;
    max-height: 80%;
}

#content-about div{
    max-height: 65%;
    width: 40%;
    margin-top: 4rem;
}

#content-about h1{
    font-size: 4rem;
    text-align: justify;
    color: #0A093D;
}

#content-about h2{
    font-size: 2rem;
    text-align: justify;
    color: #0A093D;
    margin-top: 2rem;
}

#content-about p{
    color: #656464;
    margin: auto;
    font-size: 1.4rem;
    margin-top: 2rem;
}

#contact {
    width: 100%;
    height: 40%;
    background-color: #ffffff; 
}

#title-contact{
    color: #0A093D;
    font-size: 3rem;
    text-align: center;
    margin: auto;
    
}

#content-contact{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#content-contact h2{
    color: #0A093D;
}

#content-contact input{
    display: block;
    margin-top: 1rem;
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border: 3px solid #217BF4;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

#content-contact textarea{
    display: block;
    margin-top: 1rem;
    border-radius: 5px;
    border: 3px solid #217BF4;
    font-size: 1rem;
    
}

#adress{
    width: 30%;
}

#adress p{
    color: #656464;
    margin: auto;
    margin-top: 1rem;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#form-contact button{
    width: 30%;
    height: 40px;
    margin-top: 0.5rem;
    background-color: #217BF4;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


